# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.suo
*.vcxproj.user
*.txt
*.csv
*.db
*.opendb
*.opensdf
*.dat
Debug/
Release/
monadodyssey/Debug/
monadodyssey/Release/
bin/
monadodyssey/asset/
monadodyssey/src/Eigen/
.vs/
